---
import aboutImg from "@/assets/about-astro.png";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Hi, I’m Aaron. .
		</p>
		<p>Learn who I am:</p>
		<ul class="list-inside list-disc">
			<li>I'm a CS Ph.D. Student</li>
			<li>I'm an Electrical Engineer</li>
			<li>I'm a Software Developer</li>
			<li>I'm working in HPC</li>
			<li>I'm learning MLIR</li>
			<li>I'm me.</li>
		</ul>
		<p>
			Check out my <a
				aria-label="github repository"
				class="cactus-link inline-block"
				href="https://github.com/ajarmusch"
				rel="noopener noreferrer"
				target="_blank">repo</a
			> if you like me!
		</p>
	</div>
</PageLayout>
