---
import SocialList from "@/components/SocialListWord.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import { publicationsTech } from "@/data/publications";
import { Icon } from "astro-icon/components";


const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hello Strangers!</h1>
		<p class="mb-4">
			Hi, I’m a website for Aaron, a Computer Science Ph.D. student at the 
			University of Delaware. He's apart of the 
			<a
				aria-label="github repository"
				class="cactus-link inline-block"
				href="https://crpl.cis.udel.edu"
				rel="noopener noreferrer"
				target="_blank">
				Computational Research Programing Lab (CRPL)
			</a>
			at UD under the advisory of Sunita Chandrasekaran. 
		</p>
		<p class="mb-4">
			He's a researcher in the field of High Performance Computing (HPC) and 
			Parallel Computing. He's also a developer and a lover of all things tech. 
			He's currently working on a few projects and has a few publications under 
			his belt.
		<!-- <p class="mb-4">
			I was recently built so he's still working on completing me. Feel free to 
			browse around and check back later for updates.
		</p> -->
		<SocialList />
	</section>

	<section class="mt-16">
		<h2 class="title mb-4 text-xl">
			<a
			aria-label="Blog Page"
			class=" underline-offset-2 sm:py-0 sm:hover:underline"
			href="/"
			>
			About Him
			</a>
		</h2>
		<p class="text-sm">
			PICTURE
		</p>		
	</section>

	<section class="mt-16">
		<h2 class="title mb-4 text-xl">
			<a
			aria-label="Blog Page"
			class=" underline-offset-2 sm:py-0 sm:hover:underline"
			href="/"
			>
			Projects
			</a>
		</h2>
		<div class="space-y-10">
			<div class="flex items-start space-x-4">
				<!-- Left Column -->
				<div class="flex-1">
					<a
						aria-label="github repository"
						class="cactus-link inline-block text-lg font-semibold"
						href="https://crpl.cis.udel.edu/oaccvv/"
						rel="noopener noreferrer"
						target="_blank"
					>
						OpenACC Validation and Verification (V&V) Testsuite
					</a>
					<p class="text-sm mt-2">
						The goal of this project is to build a validation and a verification testsuite for the OpenACC Programming Model.
					</p>

					<div class="flex flex-wrap items-end gap-x-2">
						<ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
							<li class="flex">
								<a
									class="inline-block p-1 sm:hover:text-link"
									href="https://github.com/OpenACCUserGroup/OpenACCV-V"
									target="_blank"
								>
									<Icon aria-hidden="true" class="h-6 w-6" focusable="false" name="mdi:github" />
									<span class="sr-only">Github</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				
				<!-- Right Column -->
				<div class="flex-shrink-0">
					<img
						src="/OpenACC-logo-color.png"
						alt="Logo"
						class="w-60 h-34"
					/>
				</div>
			</div>
				
			<div class="flex items-start space-x-4">
				<!-- Right Column -->
				<div class="flex-shrink-0">
					<img
						src="/OpenMP_logo.png"
						alt="Logo"
						class="w-60 h-34"
					/>
				</div>

				<!-- Left Column -->
				<div class="flex-1">
					<a
						aria-label="github repository"
						class="cactus-link inline-block text-lg font-semibold"
						href="https://s4pst.org"
						rel="noopener noreferrer"
						target="_blank"
					>
						Stewardship for Programming Systems and Tools (S4PST)
					</a>
					<p class="text-sm mt-2">
						Our goal is to enable a more predictive ecosystem for the sustainability of high-performance computing (HPC) 
						software for node level programming systems and tools (PST). Our work involves developing a CI/CD pipeline for 
						LLVM Clang's and new-Flang's implementation for OpenMP Offloading. We are running suites of tests and benchmarks
						on NVIDIA H100, GH200, AMD MI210, and MI300A GPUs.
					</p>

					<div class="flex flex-wrap items-end gap-x-2">
						<ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
							<li class="flex">
								<a
									class="inline-block p-1 sm:hover:text-link"
									href="https://gitlab.e4s.io/uo-public/llvm-openmp-offloading-v2/-/pipelines"
									target="_blank"
								>
									<Icon aria-hidden="true" class="h-6 w-6" focusable="false" name="mdi:gitlab" />
									<span class="sr-only">GitLab</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">
			<a
			aria-label="Blog Page"
			class=" underline-offset-2 sm:py-0 sm:hover:underline"
			href="/posts/"
			>
			Cool Stuff
			</a>
		</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>

	<section class="mt-16">
		<h2 class="title mb-4 text-xl">
			<a
			aria-label="News Page"
			class=" underline-offset-2 sm:py-0 sm:hover:underline"
			href="/fame/"
			>
			10 Seconds of Fame
			</a>
		</h2>
		<dl class="space-y-4">
			{
				publicationsTech.map(({ desc, href, title }) => (
					<div class="flex flex-col gap-2 sm:flex-row w-full">
						<dt>
							<span class="flex">
								<a class="cactus-link" href={href} rel="" target="_blank">
									{title}
								</a>
								: {desc}
							</span>
						</dt>
					</div>
				))
			}
		</dl>
	</section>
</PageLayout>
