---
import SocialList from "@/components/SocialListWord.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import { publicationsTech } from "@/data/publications";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hello Strangers!</h1>
		<p class="mb-4">
			Hi, I’m a website for Aaron, a Computer Science Ph.D. student at the 
			University of Delaware. He's apart of the 
			<a
				aria-label="github repository"
				class="cactus-link inline-block"
				href="https://crpl.cis.udel.edu"
				rel="noopener noreferrer"
				target="_blank">
				Computational Research Programing Lab (CRPL)
			</a>
			at UD under the advisory of Sunita Chandrasekaran. 
			
			I was recently built so he's still working on completing me. Feel free to 
			browse around and check back later for updates.
		</p>
		<p class="mb-4">
			Learn more about Aaron:
		</p>
		<p class="mb-4">
			<li>He's a Computer Science Ph.D. Student</li>
			<li>He's an Electrical Engineer</li>
			<li>He's a Software Developer</li>
			<li>He's working in HPC</li>
			<li>He's learning MLIR</li>
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">
			<a
			aria-label="Blog Page"
			class=" underline-offset-2 sm:py-0 sm:hover:underline"
			href="/posts/"
			>
			Cool Stuff
			</a>
		</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">
			<a
			aria-label="Blog Page"
			class=" underline-offset-2 sm:py-0 sm:hover:underline"
			href="/fame/"
			>
			10 Seconds of Fame
			</a>
		</h2>
		<dl class="space-y-4">
			{
				publicationsTech.map(({ desc, href, title }) => (
					<div class="flex flex-col gap-2 sm:flex-row">
						<dt>
							<span class="flex">
								<a class="cactus-link" href={href} rel="" target="_blank">
									{title}
								</a>
								:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	</section>
</PageLayout>
